extends layout

block content

	#accordion.panel-group(role='tablist', aria-multiselectable='true')
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#receivableInfo', aria-expanded='false')
						strong Receivable Information  
						| &#58; ข้อมูลลูกหนี้
			#receivableInfo.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/receivable/info
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
	
	
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#receivablePaid', aria-expanded='false')
						strong Receivable is Paid  
						| &#58; ข้อมูลลูกหนี้ที่ชำระแล้ว
			#receivablePaid.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/receivable/paid
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
	
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#receivablePay', aria-expanded='false')
						strong Receivable Pay  
						| &#58; รับชำระหนี้
			#receivablePay.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/receivable/pay
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Member Key
									.col-sm-10
										input.form-control.memberKey(type='text', placeholder='Member Key')
										p.help-block
											span.font-pre.label.label-warning memberKey
											|   Member Key
								.form-group
									label.col-sm-2.control-label(for='input') Sell Number
									.col-sm-10
										input.form-control.sellNo(type='text', placeholder='Sell Number')
										p.help-block
											span.font-pre.label.label-warning sellNo
											|   Sell Number
								.form-group
									label.col-sm-2.control-label(for='input') Amount
									.col-sm-10
										input.form-control.money(type='text', placeholder='Amount')
										p.help-block
											span.font-pre.label.label-warning money
											|   Amount
								.form-group
									label.col-sm-2.control-label(for='input') Remark
									.col-sm-10
										input.form-control.remark(type='text', placeholder='Remark')
										p.help-block
											span.font-pre.label.label-warning remark
											|   Remark
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
