extends layout

block content

	#accordion.panel-group(role='tablist', aria-multiselectable='true')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#info', aria-expanded='false')
						strong Brand Information  
						| &#58; ข้อมูลยี่ห้อของสินค้า
			#info.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/info
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
		
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#member', aria-expanded='false')
						strong Brand Information by Member  
						| &#58; ข้อมูลยี่ห้อของสินค้า
			#member.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/member
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Member Key
									.col-sm-10
										input.form-control.memberKey(type='text', placeholder='Member Key')
										p.help-block
											span.font-pre.label.label-warning memberKey
											|   memberKey
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
								
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#add', aria-expanded='false')
						strong Add Brand  
						| &#58; เพิ่มข้อมูลยี่ห้อของสินค้า
			#add.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/add
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Brand Name
									.col-sm-10
										input.form-control.name(type='text', placeholder='Brand Name')
										p.help-block
											span.font-pre.label.label-warning name
											|   ชื่อยี่ห้อ
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#update', aria-expanded='false')
						strong Update Brand  
						| &#58; แก้ไขข้อมูลยี่ห้อของสินค้า
			#update.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/update
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Brand ID
									.col-sm-10
										input.form-control.id(type='text', placeholder='Brand ID')
										p.help-block
											span.font-pre.label.label-warning id
											|   รหัสยี่ห้อ
								.form-group
									label.col-sm-2.control-label(for='input') Entity
									.col-sm-10
										input.form-control.entity(type='text', placeholder='Entity')
										p.help-block
											span.font-pre.label.label-warning entity
											|   ชื่อคอลัมน์ที่ต้องการแก้ไข
								.form-group
									label.col-sm-2.control-label(for='input') Entity Value
									.col-sm-10
										input.form-control.value(type='text', placeholder='Entity Value')
										p.help-block
											span.font-pre.label.label-warning value
											|   ค่าที่ต้องการแก้ไข
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#delete', aria-expanded='false')
						strong Delete Brand  
						| &#58; ลบข้อมูลยี่ห้อของสินค้า
			#delete.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/delete
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Brand ID
									.col-sm-10
										input.form-control.id(type='text', placeholder='Brand ID')
										p.help-block
											span.font-pre.label.label-warning id
											|   รหัสยี่ห้อ
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
					
					
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#brandPos', aria-expanded='false')
						strong Brand Information By Shop [POS]
						| &#58; ข้อมูลยี่ห้อของสินค้า แยกตามร้านค้า [POS]
			#brandPos.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/brandPos
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า											
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
