extends layout

block content

	#accordion.panel-group(role='tablist', aria-multiselectable='true')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#info', aria-expanded='false')
						strong Cart Information  
						| &#58; รายละเอียดข้อมูลสินค้าในรถเข็น
			#info.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/info
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Token
									.col-sm-10
										input.form-control.token(type='text', placeholder='Token')
										p.help-block
											span.font-pre.label.label-warning token
											|   รหัส Token
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#summary', aria-expanded='false')
						strong Cart Summary  
						| &#58; สรุปข้อมูลสินค้าในรถเข็น
			#summary.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/summary
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Token
									.col-sm-10
										input.form-control.token(type='text', placeholder='Token')
										p.help-block
											span.font-pre.label.label-warning token
											|   รหัส Token
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
		
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#add', aria-expanded='false')
						strong Add Product to Shopping Cart
						| &#58; เพิ่มสินค้าลงในรถเข็น
			#add.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/add
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Token
									.col-sm-10
										input.form-control.token(type='text', placeholder='Token')
										p.help-block
											span.font-pre.label.label-warning token
											|   รหัส Token
								.form-group
									label.col-sm-2.control-label(for='input') Product ID
									.col-sm-10
										input.form-control.product(type='text', placeholder='Product ID')
										p.help-block
											span.font-pre.label.label-warning product
											|   รหัสสินค้า
								.form-group
									label.col-sm-2.control-label(for='input') Quantity
									.col-sm-10
										input.form-control.quantity(type='text', placeholder='Quantity')
										p.help-block
											span.font-pre.label.label-warning quantity
											|   จำนวนสินค้า เช่น 5, -4
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#update', aria-expanded='false')
						strong Update Shopping Cart
						| &#58; แก้ไขสินค้าลงในรถเข็น
			#update.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/update
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Token
									.col-sm-10
										input.form-control.token(type='text', placeholder='Token')
										p.help-block
											span.font-pre.label.label-warning token
											|   รหัส Token
								.form-group
									label.col-sm-2.control-label(for='input') Product ID
									.col-sm-10
										input.form-control.product(type='text', placeholder='Product ID')
										p.help-block
											span.font-pre.label.label-warning product
											|   รหัสสินค้า
								.form-group
									label.col-sm-2.control-label(for='input') Quantity
									.col-sm-10
										input.form-control.quantity(type='text', placeholder='Quantity')
										p.help-block
											span.font-pre.label.label-warning quantity
											|   จำนวนสินค้า เช่น 5, -4
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
					
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#confirm', aria-expanded='false')
						strong Cart Confirm  
						| &#58; ยืนยันการสั่งซื้อ
			#confirm.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/confirm
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Token
									.col-sm-10
										input.form-control.token(type='text', placeholder='Token')
										p.help-block
											span.font-pre.label.label-warning token
											|   รหัส Token
								.form-group
									label.col-sm-2.control-label(for='input') Coupon Code
									.col-sm-10
										input.form-control.couponCode(type='text', placeholder='Coupon Code')
										p.help-block
											span.font-pre.label.label-default couponCode
											|   รหัสคูปอง
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
					