extends layout

block content

	#accordion.panel-group(role='tablist', aria-multiselectable='true')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#info', aria-expanded='false')
						strong Category Information  
						| &#58; ข้อมูลหมวดหมู่ของสินค้า
			#info.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/info
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#add', aria-expanded='false')
						strong Add Category  
						| &#58; เพิ่มข้อมูลหมวดหมู่ของสินค้า
			#add.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/add
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Category Name
									.col-sm-10
										input.form-control.name(type='text', placeholder='Category Name')
										p.help-block
											span.font-pre.label.label-warning name
											|   ชื่อหมวดหมู่
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#update', aria-expanded='false')
						strong Update Category  
						| &#58; แก้ไขข้อมูลหมวดหมู่ของสินค้า
			#update.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/update
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Category ID
									.col-sm-10
										input.form-control.id(type='text', placeholder='Category ID')
										p.help-block
											span.font-pre.label.label-warning id
											|   รหัสหมวดหมู่
								.form-group
									label.col-sm-2.control-label(for='input') Entity
									.col-sm-10
										input.form-control.entity(type='text', placeholder='Entity')
										p.help-block
											span.font-pre.label.label-warning entity
											|   ชื่อคอลัมน์ที่ต้องการแก้ไข
								.form-group
									label.col-sm-2.control-label(for='input') Entity Value
									.col-sm-10
										input.form-control.value(type='text', placeholder='Entity Value')
										p.help-block
											span.font-pre.label.label-warning value
											|   ค่าที่ต้องการแก้ไข
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#delete', aria-expanded='false')
						strong Delete Category  
						| &#58; ลบข้อมูลหมวดหมู่ของสินค้า
			#delete.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/delete
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Category ID
									.col-sm-10
										input.form-control.id(type='text', placeholder='Category ID')
										p.help-block
											span.font-pre.label.label-warning id
											|   รหัสหมวดหมู่
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#mkdir', aria-expanded='false')
						strong Create Directory for Category Images  
						| &#58; สร้างโฟลเดอร์สำหรับเก็บรูปภาพ
			#mkdir.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/mkdir
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
		
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#categoryPos', aria-expanded='false')
						strong Category Information By Shop [POS]
						| &#58; ข้อมูลหมวดหมู่ของสินค้า แยกตามร้านค้า [POS]
			#categoryPos.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/categoryPos
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
					
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#profit', aria-expanded='false')
						strong Category Profit Information  
						| &#58; ข้อมูลกำไร แยกตามหมวดหมู่ของสินค้า [POS]
			#profit.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/profit
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
					
					
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#reportMonthly', aria-expanded='false')
						strong Monthly Sales Report 
						| &#58; รายงานยอดขายสินค้ารายเดือน
			#reportMonthly.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/report/monthly
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Month
									.col-sm-10
										input.form-control.month(type='text', placeholder='Month')
										p.help-block
											span.font-pre.label.label-default month
											|   เดือน (default = 0) 0 = เดือนปัจจุบัน, -1 = ดูย้อนหลัง 1 เดือน
								.form-group
									label.col-sm-2.control-label(for='input') Data Type
									.col-sm-10
										input.form-control.type(type='text', placeholder='Data Type')
										p.help-block
											span.font-pre.label.label-default type
											|   ประเภทข้อมูล (default = all) all = รวมทั้งหมด, chain = แยกตามบริษัท
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')