extends layout

block content

	#accordion.panel-group(role='tablist', aria-multiselectable='true')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#info', aria-expanded='false')
						strong Claim Information  
						| &#58; ข้อมูลการเคลมสินค้า 
			#info.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/info
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   Shop ID
								.form-group
									label.col-sm-2.control-label(for='input') Claim ID
									.col-sm-10
										input.form-control.id(type='text', placeholder='Claim ID')
										p.help-block
											span.font-pre.label.label-default id
											|   Claim ID
								.form-group
									label.col-sm-2.control-label(for='input') Barcode
									.col-sm-10
										input.form-control.barcode(type='text', placeholder='Barcode')
										p.help-block
											span.font-pre.label.label-default barcode
											|   Barcode
								.form-group
									label.col-sm-2.control-label(for='input') Claim Date From
									.col-sm-10
										input.form-control.claimdate_from(type='text', placeholder='Claim Date From')
										p.help-block
											span.font-pre.label.label-default claimdate_from
											|   Claim Date From (format '01/31/2015')
								.form-group
									label.col-sm-2.control-label(for='input') Claim Date To
									.col-sm-10
										input.form-control.claimdate_to(type='text', placeholder='Claim Date To')
										p.help-block
											span.font-pre.label.label-default claimdate_to
											|   Claim Date To (format '01/31/2015')
								.form-group
									label.col-sm-2.control-label(for='input') Status
									.col-sm-10
										input.form-control.status(type='text', placeholder='Status')
										p.help-block
											span.font-pre.label.label-default status
											|   Status
								.form-group
									label.col-sm-2.control-label(for='input') Firstname
									.col-sm-10
										input.form-control.firstname(type='text', placeholder='Firstname')
										p.help-block
											span.font-pre.label.label-default firstname
											|   Firstname
								.form-group
									label.col-sm-2.control-label(for='input') Line ID
									.col-sm-10
										input.form-control.lineid(type='text', placeholder='Line ID')
										p.help-block
											span.font-pre.label.label-default lineid
											|   Line ID
								.form-group
									label.col-sm-2.control-label(for='input') Tel
									.col-sm-10
										input.form-control.tel(type='text', placeholder='Tel')
										p.help-block
											span.font-pre.label.label-default tel
											|   Tel
								
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#add', aria-expanded='false')
						strong Claim Add  
						| &#58; เพิ่มข้อมูลการเคลม
			#add.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/add
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   Shop ID
								.form-group
									label.col-sm-2.control-label(for='input') Add From
									.col-sm-10
										input.form-control.from(type='text', placeholder='Type', value="W")
										p.help-block
											span.font-pre.label.label-warning from
											|   Add From (Example: W, A)
								.form-group
									label.col-sm-2.control-label(for='input') Barcode
									.col-sm-10
										input.form-control.barcode(type='text', placeholder='Barcode')
										p.help-block
											span.font-pre.label.label-warning barcode
											|   Barcode
								.form-group
									label.col-sm-2.control-label(for='input') Product
									.col-sm-10
										input.form-control.product(type='text', placeholder='Product')
										p.help-block
											span.font-pre.label.label-warning product
											|   Product
								.form-group
									label.col-sm-2.control-label(for='input') Description
									.col-sm-10
										input.form-control.description(type='text', placeholder='Description')
										p.help-block
											span.font-pre.label.label-warning description
											|   Description
								.form-group
									label.col-sm-2.control-label(for='input') Firstname
									.col-sm-10
										input.form-control.firstname(type='text', placeholder='Firstname')
										p.help-block
											span.font-pre.label.label-warning firstname
											|   Firstname
								.form-group
									label.col-sm-2.control-label(for='input') Lastname
									.col-sm-10
										input.form-control.lastname(type='text', placeholder='Lastname')
										p.help-block
											span.font-pre.label.label-warning lastname
											|   Lastname
								.form-group
									label.col-sm-2.control-label(for='input') Nickname
									.col-sm-10
										input.form-control.nickname(type='text', placeholder='Nickname')
										p.help-block
											span.font-pre.label.label-default nickname
											|   Nickname
								.form-group
									label.col-sm-2.control-label(for='input') Address
									.col-sm-10
										input.form-control.address(type='text', placeholder='Address')
										p.help-block
											span.font-pre.label.label-warning address
											|   Address
								.form-group
									label.col-sm-2.control-label(for='input') Address 2
									.col-sm-10
										input.form-control.address2(type='text', placeholder='Address 2')
										p.help-block
											span.font-pre.label.label-default address2
											|   Address 2
								.form-group
									label.col-sm-2.control-label(for='input') Province
									.col-sm-10
										input.form-control.province(type='text', placeholder='Province')
										p.help-block
											span.font-pre.label.label-warning province
											|   Province
								.form-group
									label.col-sm-2.control-label(for='input') District
									.col-sm-10
										input.form-control.district(type='text', placeholder='District')
										p.help-block
											span.font-pre.label.label-warning district
											|   District
								.form-group
									label.col-sm-2.control-label(for='input') Sub District
									.col-sm-10
										input.form-control.subDistrict(type='text', placeholder='Sub District')
										p.help-block
											span.font-pre.label.label-warning subDistrict
											|   Sub District
								.form-group
									label.col-sm-2.control-label(for='input') Zipcode
									.col-sm-10
										input.form-control.zipcode(type='text', placeholder='Zipcode')
										p.help-block
											span.font-pre.label.label-warning zipcode
											|   Zipcode
								.form-group
									label.col-sm-2.control-label(for='input') Tel.
									.col-sm-10
										input.form-control.tel(type='text', placeholder='Tel.')
										p.help-block
											span.font-pre.label.label-warning tel
											|   Tel.
								.form-group
									label.col-sm-2.control-label(for='input') Email
									.col-sm-10
										input.form-control.email(type='text', placeholder='Email')
										p.help-block
											span.font-pre.label.label-default email
											|   Email
								.form-group
									label.col-sm-2.control-label(for='input') Images
									.col-sm-10
										input.form-control.images(type='text', placeholder='Images')
										p.help-block
											span.font-pre.label.label-warning images
											|   Images
								.form-group
									label.col-sm-2.control-label(for='input') Last Shop
									.col-sm-10
										input.form-control.lastShop(type='text', placeholder='Last Shop')
										p.help-block
											span.font-pre.label.label-warning lastShop
											|   Last Shop 											
								.form-group
									label.col-sm-2.control-label(for='input') Sell Number
									.col-sm-10
										input.form-control.sellNo(type='text', placeholder='Sell Number')
										p.help-block
											span.font-pre.label.label-warning sellNo
											|   Sell Number 
								.form-group
									label.col-sm-2.control-label(for='input') Sell Price
									.col-sm-10
										input.form-control.sellPrice(type='text', placeholder='Sell Price')
										p.help-block
											span.font-pre.label.label-warning sellPrice
											|   Sell Price  
								.form-group
									label.col-sm-2.control-label(for='input') Username Claim
									.col-sm-10
										input.form-control.usernameClaim(type='text', placeholder='Username Claim')
										p.help-block
											span.font-pre.label.label-default usernameClaim
											|   Username Claim
								.form-group
									label.col-sm-2.control-label(for='input') Customer LineId
									.col-sm-10
										input.form-control.customerLineId(type='text', placeholder='Customer LineId')
										p.help-block
											span.font-pre.label.label-default customerLineId
											|   Customer LineId
								.form-group
									label.col-sm-2.control-label(for='input') Claim Type
									.col-sm-10
										input.form-control.claimType(type='text', placeholder='Claim Type')
										p.help-block
											span.font-pre.label.label-default claimType
											|   Claim Type 
								.form-group
									label.col-sm-2.control-label(for='input') Sell Date
									.col-sm-10
										input.form-control.sellDate(type='text', placeholder='Sell Date')
										p.help-block
											span.font-pre.label.label-warning sellDate
											|   Sell Date ('MM/DD/YYYY', '12/31/2015')
								.form-group
									label.col-sm-2.control-label(for='input') Return Type
									.col-sm-10
										input.form-control.returnType(type='text', placeholder='Return Type')
										p.help-block
											span.font-pre.label.label-default returnType
											|   Return Type 
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
		
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#update', aria-expanded='false')
						strong Claim Update  
						| &#58; แก้ไขข้อมูลการเคลมสินค้า
			#update.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/update
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   Shop ID
								.form-group
									label.col-sm-2.control-label(for='input') Claim No
									.col-sm-10
										input.form-control.id(type='text', placeholder='Claim No')
										p.help-block
											span.font-pre.label.label-warning id
											|   Claim No
								.form-group
									label.col-sm-2.control-label(for='input') Column
									.col-sm-10
										input.form-control.column(type='text', placeholder='Column')
										p.help-block
											span.font-pre.label.label-warning column
											|   Column (ชื่อคอลัมน์ที่ต้องการแก้ไข (ถ้ามีมากกว่า 1 ให้คั่นด้วยเครื่องหมาย , เช่น description,status))
								.form-group
									label.col-sm-2.control-label(for='input') Value
									.col-sm-10
										input.form-control.value(type='text', placeholder='Value')
										p.help-block
											span.font-pre.label.label-warning value
											|   Value (ค่าที่ต้องการแก้ไข (ถ้ามีมากกว่า 1 ให้คั่นด้วยเครื่องหมาย , เช่น Broken,SH))
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
		
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#customerAddress', aria-expanded='false')
						strong Customer Address  
						| &#58; ที่อยู่ลูกค้า
			#customerAddress.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/customerAddress
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Username
									.col-sm-10
										input.form-control.username(type='text', placeholder='Username')
										p.help-block
											span.font-pre.label.label-default username
											|   Username
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
		
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#barcodeExist', aria-expanded='false')
						strong Barcode Exist 
						| &#58; ตรวจสอบว่าสินค้านี้ส่งเคลมแล้วหรือไม่
			#barcodeExist.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/barcodeExist
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Barcode
									.col-sm-10
										input.form-control.barcode(type='text', placeholder='Barcode')
										p.help-block
											span.font-pre.label.label-warning barcode
											|   Barcode
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
		
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#claimSwap', aria-expanded='false')
						strong Claim Swap 
						| &#58; เปลี่ยนสินค้า
			#claimSwap.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/claimSwap
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   Shop ID
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID Swap
									.col-sm-10
										input.form-control.shopSwap(type='text', placeholder='Shop ID Swap')
										p.help-block
											span.font-pre.label.label-warning shopSwap
											|   Shop ID Swap 
								.form-group
									label.col-sm-2.control-label(for='input') Barcode
									.col-sm-10
										input.form-control.barcode(type='text', placeholder='Barcode')
										p.help-block
											span.font-pre.label.label-warning barcode
											|   Barcode
								.form-group
									label.col-sm-2.control-label(for='input') Barcode Swap
									.col-sm-10
										input.form-control.barcodeSwap(type='text', placeholder='Barcode Swap')
										p.help-block
											span.font-pre.label.label-warning barcodeSwap
											|   Barcode Swap
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
	
	
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#barcodeClaim', aria-expanded='false')
						strong Barcode Claim Information POS 
						| &#58; ข้อมูลบาร์โค้ดสินค้าเคลม POS
			#barcodeClaim.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/barcodeClaim
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Barcode
									.col-sm-10
										input.form-control.barcode(type='text', placeholder='Barcode')
										p.help-block
											span.font-pre.label.label-warning barcode
											|   Barcode
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
					
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#addPos', aria-expanded='false')
						strong Claim Add POS 
						| &#58; เพิ่มข้อมูลการเคลม POS
			#addPos.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/addPos
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   Shop ID
								.form-group
									label.col-sm-2.control-label(for='input') Add From
									.col-sm-10
										input.form-control.from(type='text', placeholder='Type', value="W")
										p.help-block
											span.font-pre.label.label-warning from
											|   Add From (Example: W, A)
								.form-group
									label.col-sm-2.control-label(for='input') Barcode
									.col-sm-10
										input.form-control.barcode(type='text', placeholder='Barcode')
										p.help-block
											span.font-pre.label.label-warning barcode
											|   Barcode
								.form-group
									label.col-sm-2.control-label(for='input') Product
									.col-sm-10
										input.form-control.product(type='text', placeholder='Product')
										p.help-block
											span.font-pre.label.label-warning product
											|   Product
								.form-group
									label.col-sm-2.control-label(for='input') Description
									.col-sm-10
										input.form-control.description(type='text', placeholder='Description')
										p.help-block
											span.font-pre.label.label-warning description
											|   Description
								.form-group
									label.col-sm-2.control-label(for='input') Firstname
									.col-sm-10
										input.form-control.firstname(type='text', placeholder='Firstname')
										p.help-block
											span.font-pre.label.label-warning firstname
											|   Firstname
								.form-group
									label.col-sm-2.control-label(for='input') Lastname
									.col-sm-10
										input.form-control.lastname(type='text', placeholder='Lastname')
										p.help-block
											span.font-pre.label.label-warning lastname
											|   Lastname
								.form-group
									label.col-sm-2.control-label(for='input') Nickname
									.col-sm-10
										input.form-control.nickname(type='text', placeholder='Nickname')
										p.help-block
											span.font-pre.label.label-default nickname
											|   Nickname
								.form-group
									label.col-sm-2.control-label(for='input') Address
									.col-sm-10
										input.form-control.address(type='text', placeholder='Address')
										p.help-block
											span.font-pre.label.label-warning address
											|   Address
								.form-group
									label.col-sm-2.control-label(for='input') Address 2
									.col-sm-10
										input.form-control.address2(type='text', placeholder='Address 2')
										p.help-block
											span.font-pre.label.label-default address2
											|   Address 2
								.form-group
									label.col-sm-2.control-label(for='input') Province
									.col-sm-10
										input.form-control.province(type='text', placeholder='Province')
										p.help-block
											span.font-pre.label.label-warning province
											|   Province
								.form-group
									label.col-sm-2.control-label(for='input') District
									.col-sm-10
										input.form-control.district(type='text', placeholder='District')
										p.help-block
											span.font-pre.label.label-warning district
											|   District
								.form-group
									label.col-sm-2.control-label(for='input') Sub District
									.col-sm-10
										input.form-control.subDistrict(type='text', placeholder='Sub District')
										p.help-block
											span.font-pre.label.label-warning subDistrict
											|   Sub District
								.form-group
									label.col-sm-2.control-label(for='input') Zipcode
									.col-sm-10
										input.form-control.zipcode(type='text', placeholder='Zipcode')
										p.help-block
											span.font-pre.label.label-warning zipcode
											|   Zipcode
								.form-group
									label.col-sm-2.control-label(for='input') Tel.
									.col-sm-10
										input.form-control.tel(type='text', placeholder='Tel.')
										p.help-block
											span.font-pre.label.label-warning tel
											|   Tel.
								.form-group
									label.col-sm-2.control-label(for='input') Email
									.col-sm-10
										input.form-control.email(type='text', placeholder='Email')
										p.help-block
											span.font-pre.label.label-default email
											|   Email
								.form-group
									label.col-sm-2.control-label(for='input') Images
									.col-sm-10
										input.form-control.images(type='text', placeholder='Images')
										p.help-block
											span.font-pre.label.label-warning images
											|   Images
								.form-group
									label.col-sm-2.control-label(for='input') Last Shop
									.col-sm-10
										input.form-control.lastShop(type='text', placeholder='Last Shop')
										p.help-block
											span.font-pre.label.label-warning lastShop
											|   Last Shop 											
								.form-group
									label.col-sm-2.control-label(for='input') Sell Number
									.col-sm-10
										input.form-control.sellNo(type='text', placeholder='Sell Number')
										p.help-block
											span.font-pre.label.label-warning sellNo
											|   Sell Number 
								.form-group
									label.col-sm-2.control-label(for='input') Sell Price
									.col-sm-10
										input.form-control.sellPrice(type='text', placeholder='Sell Price')
										p.help-block
											span.font-pre.label.label-warning sellPrice
											|   Sell Price  
								.form-group
									label.col-sm-2.control-label(for='input') Username Claim
									.col-sm-10
										input.form-control.usernameClaim(type='text', placeholder='Username Claim')
										p.help-block
											span.font-pre.label.label-default usernameClaim
											|   Username Claim
								.form-group
									label.col-sm-2.control-label(for='input') Customer LineId
									.col-sm-10
										input.form-control.customerLineId(type='text', placeholder='Customer LineId')
										p.help-block
											span.font-pre.label.label-default customerLineId
											|   Customer LineId
								.form-group
									label.col-sm-2.control-label(for='input') Claim Type
									.col-sm-10
										input.form-control.claimType(type='text', placeholder='Claim Type')
										p.help-block
											span.font-pre.label.label-default claimType
											|   Claim Type 
								.form-group
									label.col-sm-2.control-label(for='input') Sell Date
									.col-sm-10
										input.form-control.sellDate(type='text', placeholder='Sell Date')
										p.help-block
											span.font-pre.label.label-warning sellDate
											|   Sell Date ('MM/DD/YYYY', '12/31/2015')
								.form-group
									label.col-sm-2.control-label(for='input') Return Type
									.col-sm-10
										input.form-control.returnType(type='text', placeholder='Return Type')
										p.help-block
											span.font-pre.label.label-default returnType
											|   Return Type 
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')				
					
					
					
					
	
