extends layout

block content

	#accordion.panel-group(role='tablist', aria-multiselectable='true')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#Info', aria-expanded='false')
						strong Customer Information
						| &#58; ข้อมูลลูกค้า
			#Info.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /customer/Info
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
				.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')                    

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#search', aria-expanded='false')
						strong Customer Information
						| &#58; ข้อมูลลูกค้า
			#search.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /customer/search
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Search
									.col-sm-10
										input.form-control.search(type='text', placeholder='Search')
										p.help-block
											span.font-pre.label.label-warning search
											|   คำค้นหา (รหัสสามชิก, ชื่อ, นามสกุล, เบอร์โทร, อีเมล)
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
				.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')  
				
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#Add', aria-expanded='false')
						strong Customer Add
						| &#58; เพิ่มข้อมูลลูกค้า
			#Add.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /customer/Add
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') CustomerNo
									.col-sm-10
										input.form-control.customer(type='text', placeholder='CustomerNo')
										p.help-block
											span.font-pre.label.label-warning customer
											|   รหัสลูกค้า
								.form-group
									label.col-sm-2.control-label(for='input') Mobile
									.col-sm-10
										input.form-control.mobile(type='text', placeholder='Mobile')
										p.help-block
											span.font-pre.label.label-warning mobile
											|   เบอร์โทรศัพท์
								.form-group
									label.col-sm-2.control-label(for='input') Firstname
									.col-sm-10
										input.form-control.firstname(type='text', placeholder='Firstname')
										p.help-block
											span.font-pre.label.label-warning firstname
											|   ชื่อลูกค้า
								.form-group
									label.col-sm-2.control-label(for='input') Lastname
									.col-sm-10
										input.form-control.lastname(type='text', placeholder='Lastname')
										p.help-block
											span.font-pre.label.label-warning lastname
											|  นามสกุล
								.form-group
									label.col-sm-2.control-label(for='input') Nickname
									.col-sm-10
										input.form-control.nickname(type='text', placeholder='Nickname')
										p.help-block
											span.font-pre.label.label-default nickname
											|  ชื่อเล่น
								.form-group
									label.col-sm-2.control-label(for='input') Sex
									.col-sm-10
										input.form-control.sex(type='text', placeholder='Sex')
										p.help-block
											span.font-pre.label.label-default sex
											|   เพศ 
								.form-group
									label.col-sm-2.control-label(for='input') Birthday
									.col-sm-10
										input.form-control.birthday(type='text', placeholder='Birthday')
										p.help-block
											span.font-pre.label.label-default birthday
											|  วันเกิด 
								.form-group
									label.col-sm-2.control-label(for='input')  Citizen ID
									.col-sm-10
										input.form-control.citizen(type='text', placeholder='Citizen ID')
										p.help-block
											span.font-pre.label.label-default citizen
											|   เลขประจำตัวประชาชน
								.form-group
									label.col-sm-2.control-label(for='input') Card No
									.col-sm-10
										input.form-control.cardno(type='text', placeholder='Card No')
										p.help-block
											span.font-pre.label.label-default cardno
											|  เลขที่สมาชิก
								.form-group
									label.col-sm-2.control-label(for='input') Email
									.col-sm-10
										input.form-control.email(type='text', placeholder='Email')
										p.help-block
											span.font-pre.label.label-default email
											|   อีเมล์
								.form-group
									label.col-sm-2.control-label(for='input') Address
									.col-sm-10
										input.form-control.address(type='text', placeholder='Address')
										p.help-block
											span.font-pre.label.label-default address
											|   ที่อยู่
								.form-group
									label.col-sm-2.control-label(for='input') Address2
									.col-sm-10
										input.form-control.address2(type='text', placeholder='Address2')
										p.help-block
											span.font-pre.label.label-default address2
											|  ที่อยู่ 2
								.form-group
									label.col-sm-2.control-label(for='input') SubDistrict
									.col-sm-10
										input.form-control.subdistrict(type='text', placeholder='SubDistrict')
										p.help-block
											span.font-pre.label.label-default subdistrict
											|   ตำบล
								.form-group
									label.col-sm-2.control-label(for='input') District
									.col-sm-10
										input.form-control.district(type='text', placeholder='District')
										p.help-block
											span.font-pre.label.label-default district
											|  อำเภอ
								.form-group
									label.col-sm-2.control-label(for='input') Province
									.col-sm-10
										input.form-control.province(type='text', placeholder='Province')
										p.help-block
											span.font-pre.label.label-default province
											|   จังหวัด 
								.form-group
									label.col-sm-2.control-label(for='input') Zipcode
									.col-sm-10
										input.form-control.zipcode(type='text', placeholder='Zipcode')
										p.help-block
											span.font-pre.label.label-default zipcode
											|  รหัสไปรษณีย์
								.form-group
									label.col-sm-2.control-label(for='input') Shopname
									.col-sm-10
										input.form-control.shopname(type='text', placeholder='Shopname')
										p.help-block
											span.font-pre.label.label-default shopname
											|   ชื่อร้านค้า 
								.form-group
									label.col-sm-2.control-label(for='input') ShopSameAddress
									.col-sm-10
										input.form-control.same(type='text', placeholder='ShopSameAddress')
										p.help-block
											span.font-pre.label.label-default same
											|   ที่อยู่ร้านค้าเหมือนที่อยู่ลูกค้าหรือไม่ (1 = เหมือน) 
								.form-group
									label.col-sm-2.control-label(for='input') Shop Address
									.col-sm-10
										input.form-control.shopaddress(type='text', placeholder='Shop Address')
										p.help-block
											span.font-pre.label.label-default shopaddress
											|   ที่อยู่ร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Shop Address2
									.col-sm-10
										input.form-control.shopaddress2(type='text', placeholder='Shop Address2')
										p.help-block
											span.font-pre.label.label-default shopaddress2
											|   ที่อยู่ร้านค้า 2 
								.form-group
									label.col-sm-2.control-label(for='input') Shop SubDistrict
									.col-sm-10
										input.form-control.shopsubdistrict(type='text', placeholder='Shop SubDistrict')
										p.help-block
											span.font-pre.label.label-default shopsubdistrict
											|   ตำบลของที่อยู่ร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Shop District
									.col-sm-10
										input.form-control.shopdistrict(type='text', placeholder='Shop District')
										p.help-block
											span.font-pre.label.label-default shopdistrict
											|   อำเภอของที่อยู่ร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Shop Province
									.col-sm-10
										input.form-control.shopprovince(type='text', placeholder='Shop Province')
										p.help-block
											span.font-pre.label.label-default shopprovince
											|   จังหวัดของที่อยู่ร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Shop Zipcode
									.col-sm-10
										input.form-control.shopzipcode(type='text', placeholder='Shop Zipcode')
										p.help-block
											span.font-pre.label.label-default shopzipcode
											|    รหัสไปรษณีย์ของที่อยู่ร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Credit
									.col-sm-10
										input.form-control.credit(type='text', placeholder='Credit')
										p.help-block
											span.font-pre.label.label-default credit
											|   เครดิตของลูกค้า
								.form-group
									label.col-sm-2.control-label(for='input') SellPrice
									.col-sm-10
										input.form-control.sellprice(type='text', placeholder='SellPrice')
										p.help-block
											span.font-pre.label.label-default sellprice
											|  ราคาช่องที่ขายให้ลูกค้า
								.form-group
									label.col-sm-2.control-label(for='input') addBy
									.col-sm-10
										input.form-control.addby(type='text', placeholder='addBy')
										p.help-block
											span.font-pre.label.label-default addBy
											|  เพิ่มข้อมูลโดย
								.form-group
									label.col-sm-2.control-label(for='input') updateBy
									.col-sm-10
										input.form-control.updateby(type='text', placeholder='updateBy')
										p.help-block
											span.font-pre.label.label-default updateBy
											|  แก้ไขข้อมูลโดย
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert') 		

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#creditInfo', aria-expanded='false')
						strong Credit Customer Information
						| &#58; ข้อมูลลูกหนี้
			#creditInfo.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /customer/creditInfo
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
				.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')                    



		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#creditAdd', aria-expanded='false')
						strong Credit Customer Add
						| &#58; เพิ่มข้อมูลลูกหนี้
			#creditAdd.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /customer/creditAdd
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Credit No
									.col-sm-10
										input.form-control.creditno(type='text', placeholder='Credit No')
										p.help-block
											span.font-pre.label.label-warning creditno
											|   เลขที่ลูกหนี้
								.form-group
									label.col-sm-2.control-label(for='input') Sale No
									.col-sm-10
										input.form-control.saleno(type='text', placeholder='Sale No')
										p.help-block
											span.font-pre.label.label-warning saleno
											|    เลขที่ขาย
								.form-group
									label.col-sm-2.control-label(for='input') Paid Price
									.col-sm-10
										input.form-control.paidprice(type='text', placeholder='Paid Price')
										p.help-block
											span.font-pre.label.label-default paidprice
											|   จำนวนเงินชำระ
								.form-group
									label.col-sm-2.control-label(for='input') Paid By
									.col-sm-10
										input.form-control.paidby(type='text', placeholder='Paid By')
										p.help-block
											span.font-pre.label.label-default paidby
											|  รับชำระจาก
								.form-group
									label.col-sm-2.control-label(for='input') Paid Date
									.col-sm-10
										input.form-control.paiddate(type='text', placeholder='Paid Date')
										p.help-block
											span.font-pre.label.label-default paiddate
											|  วันที่ชำระ
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
				.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')     
				
					
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#credit', aria-expanded='false')
						strong Credit Customer Add
						| &#58; เพิ่มข้อมูลลูกหนี้
			#credit.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /customer/credit
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Credit No
									.col-sm-10
										input.form-control.creditno(type='text', placeholder='Credit No')
										p.help-block
											span.font-pre.label.label-warning creditno
											|   เลขที่ลูกหนี้
								.form-group
									label.col-sm-2.control-label(for='input') Sale No
									.col-sm-10
										input.form-control.saleno(type='text', placeholder='Sale No')
										p.help-block
											span.font-pre.label.label-warning saleno
											|    เลขที่ขาย
								.form-group
									label.col-sm-2.control-label(for='input') Paid Price
									.col-sm-10
										input.form-control.paidprice(type='text', placeholder='Paid Price')
										p.help-block
											span.font-pre.label.label-default paidprice
											|   จำนวนเงินชำระ
								.form-group
									label.col-sm-2.control-label(for='input') Paid By
									.col-sm-10
										input.form-control.paidby(type='text', placeholder='Paid By')
										p.help-block
											span.font-pre.label.label-default paidby
											|  รับชำระจาก
								.form-group
									label.col-sm-2.control-label(for='input') Paid Date
									.col-sm-10
										input.form-control.paiddate(type='text', placeholder='Paid Date')
										p.help-block
											span.font-pre.label.label-default paiddate
											|  วันที่ชำระ
								.form-group
									label.col-sm-2.control-label(for='input') Due Date
									.col-sm-10
										input.form-control.duedate(type='text', placeholder='Due Date')
										p.help-block
											span.font-pre.label.label-default duedate
											|  วันครบกำหนดชำระ
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
				.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')            
				
				
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#updateBarcodePos', aria-expanded='false')
						strong Update Customer [Pos]
						| &#58; แก้ไขข้อมูลลูกค้า แยกตามร้านค้า
			#updateBarcodePos.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/updateCustomer
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Shop ID
									.col-sm-10
										input.form-control.shop(type='text', placeholder='Shop ID', value="#{data.shopIdTest}")
										p.help-block
											span.font-pre.label.label-warning shop
											|   รหัสร้านค้า
								.form-group
									label.col-sm-2.control-label(for='input') Customer ID
									.col-sm-10
										input.form-control.id(type='text', placeholder='Barcode ID')
										p.help-block
											span.font-pre.label.label-warning id
											|   รหัสลูกค้า
								.form-group
									label.col-sm-2.control-label(for='input') Entity
									.col-sm-10
										input.form-control.entity(type='text', placeholder='Entity')
										p.help-block
											span.font-pre.label.label-warning entity
											|   ชื่อคอลัมน์ที่ต้องการแก้ไข (ถ้ามีมากกว่า 1 ให้คั่นด้วยเครื่องหมาย , เช่น SellNo,SellBy)
								.form-group
									label.col-sm-2.control-label(for='input') Entity Value
									.col-sm-10
										input.form-control.value(type='text', placeholder='Entity Value')
										p.help-block
											span.font-pre.label.label-warning value
											|   ค่าที่ต้องการแก้ไข (ถ้ามีมากกว่า 1 ให้คั่นด้วยเครื่องหมาย , เช่น  15091522,0000)
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')		